{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mehsullar</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

</head>
<body>
	{% load crispy_forms_tags %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Mehsulların <b>İdarə Olunması</b></h2>
					</div>
                </div>
			</div>
			<div>
					<div>
							<form method="POST" action="{% url 'logout' %}">
									<a href="{% url 'logout' %}">
									<button style="float:right;" name="submit" type="submit" class="btn btn-danger">Logout</button>
								</a>
								{% csrf_token %}
								{{form|crispy}}

								</form>
								</div>
			</div>
			</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Kod</th>
				<th>Adı</th>
				<th>Qiymeti</th>
				<th>Əyar</th>
				<th>Miqdarı </th>		
				<th>Gram</th>
				<th>Məzənnə</th>
				<th>Alis Tarixi</th>
				<th>Satis Tarixi</th>
				<th>Status</th>
				<th>Dəyişiklik</th>
				<th>Silmək</th>
			</tr>
		</thead>

		<tbody>
		{% for product in products %}
			<tr>
				<td>{{product.id}}</td>
				<td>{{product.kod}}</td>
				<td>{{product.adi }}</td>
				<td>{{product.qiymeti}}</td>
				<td>{{product.əyar}}</td>
				
				<td>{{product.miqdari}}</td>
				
				<td>{{product.gram}}</td>
				<td>{{product.məzənnə}}</td>
				<td>{{product.publish}}</td> 
				<td>{{product.publish_1}}</td>
				<td>
						{% if product.status == product.STATUS_CREATED %}
							<button type="button" class="btn btn-primary" style=" margin: auto;
							padding: inherit; ">Satisda</button>
						{% elif product.status == product.STATUS_SOLD_OUT %}
							<button type="button" class="btn btn-success" >Satildi</button>
						{% elif product.status == product.STATUS_REJECTED %}
							<button type="button" class="btn btn-warning">Imtina</button>
					
						{% endif %}
						</td>
							
				<td><a href="{% url 'update_product' product.id %}" class="btn btn-primary"><i class="fa fa-edit">  Edit</i></a></td>
				<td> <a href="{% url 'delete_product' product.id  %}" class="btn btn-danger"><i class="fa fa-cut">  Cut</i></a></td>
			
			</tr>
		
		{% empty %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Melumat tapilmadi</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{% endfor %}
		</tbody>
			<!-- {% for product in products %}
			{# Each "product" is a Productlar model object. #}
			{{ product.adi|upper }}<br>
			...
		{% endfor %} -->
		
		
		<button style="background-color: transparent;border:none;float:right;"><a href="{% url 'create_product' %}" class="btn btn-success" >  Yeni mehsul   <i class="fa fa-plus-square"></i></a></button>
		
		<br/>
		<div class="row">
			<div class="col-md-3">
					<form method="GET">
						<div class="row">
							<div class="col-md-6">
									<input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search posts"/>
							</div>
							<div class="col-md-6">
									<input type="submit" class="form-control btn btn-success" name="submit" value="Search"/>
							</div>
						</div>
					
					
					</form>
					{% if request.GET.q %}
					<a href="{% url 'list_product' %}" class="btn btn-danger" style=" margin: auto;
					padding: inherit; ">Filteri temizle</button>
					{%endif%}
			</div>
		</div>
		
	
	
	</table>
 
		<div>
			<div class="pagination">
					<span class="step-links">
						{% if products.has_previous %}
							<a class="btn btn-info mb-4" href="?page=1">&laquo; First</a>
							<a class="btn btn-info mb-4" href="?page={{ products.previous_page_number }}">Previous</a>
						{% endif %}
				
						<span class="current">
								{% for num in page_range %}
								{% if products.number == num %}
									<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
								{% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
									<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
								{% endif %}
								{% endfor %}
						</span>
				
						{% if products.has_next %}
							<a class="btn btn-info mb-4" href="?page={{ products.next_page_number }}">Next</a>
							<a class="btn btn-info mb-4" href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
						{% endif %}
					
					</span>
				</div>
		</div>
		</div>
</div>
</body>



</html>     
                   		                            

