<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Axtaris</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
        <button style="background-color: transparent;border:none;float:right; width:25%;margin:0 auto;"><a href=" {% url 'list_product' %}" class="btn btn-warning"> Home </a>

        </button>

    	{% if submitbutton == 'Search' and request.GET.q != '' %}
		{% if results %}
		<h1>Axtardağınız məhsul:  <b>{{ request.GET.q }}</b></h1>
		<br/><br/>
        
        <table class="table table-striped">

        <thead>
            <tr>
                <th>Kod</th>
                <th>Adı</th>
                <th>Əyar</th>
                <th>Gram</th>
                
            </tr>
        {% for result in results %}

                    <tr>
                        <td>{{result.kod}}</td>
                        <td>{{result.adi }}</td>
                        <td>{{ result.əyar  }}</td>
                        <td>{{ result.gram }}</td>
                    </tr>
            {% endfor %}
        </thead>
        </table>

        {% else %}
        <div>
        <i> Bu sorğu üçün heç bir mehsul tapılmadı, düzgün axtardığınıza diqqət yetirin. </i>
        </div>
        {% endif %}
        {% endif %}
	
</body>
</html>